* {
    margin:0;
    padding:0;
    font-family: 'Arvo';
    /* background-color: #000; */
    color: white;
    font-size: medium;

  }
  
  /* body{
    background-color: #050505;
  }
  
  .logo{
    align-items: center;
  }

  .front{
    height: 20%;
  } */